@import "a_fixed.css";
@import "b_fixed.css";



#navsecond {
    width: 170px;
    height: 1208px;
    margin: 0 0 0 50px;
    padding: 0;
    /* 设置侧边导航边界线 */
    border-right: 2px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;

}



#navsecond .geography:link {
    width: 165px;
    background-color: #B22222;
}




/* 首页主要内容 */
div#main_content {
    display: block;
    margin:0 0 0 0; 
    position: absolute;
    width: 1045px;
    height: 1208px;
    margin: -1208px 0 0 223px;
    border-right: 2px solid #a9a9a9; 

}






