@import "a_fixed.css";

#home_slogan {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;

}

#home_slogan {
    min-height: 6rem;
    color: #eeeded;
    background-image: linear-gradient(.15turn, #e6e0e0fc, #49819a, #e8dcca );
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#home_slogan .wray {
    font-weight: noraml;
    font-size: 1.5rem;
    white-space: pre-wrap;
    margin: 0 .5rem;
}

#home_slogan .note {
    font-weight: noraml;
    font-size: 1.3rem;
    white-space: pre-wrap;
    margin: 0 .5rem;
}

#index_space {
    width: 100%;
    height: 150px;
    background-color: none;
}

#index_content_background {
    width: 100%;
    height: 350px;
    background-color: none;
    display: flex;
    /* justify-content 用于设置或检索弹性盒子元素在主轴（横轴）方向上的对齐方式。 */
    justify-content: center;   
}    

#index_content {

    width: 800px;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    max-width: 40rem;
    flex-direction: row;
}

#index_content .study_topic {
    display: flex;
    flex: 1 2;
    width: 150px;
}

#index_content h1 {
    width: 152px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6c757d;
    font-size: 1.7rem;
    min-width: 6rem;
    margin: 0;
    font-weight: 300;
}

#index_content .topic_list {
    display: flex;
    width: 608px;
    height: 100px;
    flex: 4 2;
    min-width: 16rem;
    gap: 5px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#index_content a {
    color: #2196f3;
    transition-duration: .2s;
    height: 30px;
    font-size: 1.1rem;
    font-weight: 330;
    text-decoration: none;
}

#index_content a:hover {
    color: #00bcd4;
    transform: scale(1.1);
}



